#APP 
APP__DEBUG=True
APP__HOST=0.0.0.0
APP__PORT=8000
APP__RELOAD=True

#CORS
CORS__ALLOW_CREDENTIALS=True
CORS__ALLOW_ORIGINS=["*"]
CORS__ALLOW_METHODS=["*"]
CORS__ALLOW_HEADERS=["*"]

#DB
DB__URL=postgresql+asyncpg://YOUR_DB_USER:YOUR_SECRET@db:5432/YOUR_DB_NAME

POSTGRES_DB=(YOUR_DB_NAME)
POSTGRES_USER=(YOUR_DB_USER)
POSTGRES_PASSWORD=(YOUR_SECRET)
DB_HOST=db
DB_PORT=5432